# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/video/brugertest_jessica .mp4
/video/brugertest_julie .mp4
/video/brugertest_Marie.mp4
/video/cosplay.mp4
/video/virksomhedsvideo.mp4
